{% extends 'layouts/main.html' %}
{% block content %}

<div class="container">

    <div class="row">
        {% for news in newsData %}
        <div class="col-md-3">
            <div class="card">
                {% if news.image %}
                <img src="{{ news.image.url}}" class="card-img-top" height="250px" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="cardtitle">{{ news.title }}</h5>
                    <p class="card-text">{{ news.limit_description }}</p>
                    <a href="{% url 'news-details' news.slug %}" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if newsData.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ newsData.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ newsData.number }} of {{ newsData.paginator.num_pages }}.
            </span>

            {% if newsData.has_next %}
            <a href="?page={{ newsData.next_page_number }}">next</a>
            <a href="?page={{ newsData.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>



</div>



{% endblock %}