{% extends 'layouts/main.html' %}
{% block content %}
<div class="container">
    <div class="row">

        {% for newsdata in sports %}
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">

                <img src="{{newsdata.image.url}}" class="card-img-top" height="200px" width="250px"
                    alt="{{newsdata.title}}">

                <div class="card-body">
                    <h5 class="card-title">{{newsdata.title}}</h5>
                    <p class="card-text">{{newsdata.limit_description}}</p>
                    <a href="{% url 'news-details' newsdata.slug %}" class="btn btn-primary">Visit</a>
                </div>
            </div>

        </div>

        {% endfor %}
    </div>


</div>

{% endblock %}